@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  scroll-behavior: smooth;
  /* color: #db353905 */
}

/* 
html {
  font-size: 10px;
} */

.modal-holder {
  position: fixed;
  left: 0;
  top: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.782);
  backdrop-filter: blur(0.1875rem);
  min-height: 100vh;
  width: 100%;
  z-index: 99999999;
}

.cus-m-close {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  cursor: pointer;
}

@layer base {
  h1 {
    @apply font-bold text-5xl;
  }
  h2 {
    @apply font-bold text-3xl;
  }
  h3 {
    @apply font-semibold text-2xl;
  }
  h4 {
    @apply font-semibold text-xl;
  }
  h5 {
    @apply font-semibold text-lg;
  }
  h6 {
    @apply font-semibold text-lg;
  }
  img {
    @apply max-w-fit;
  }
}

@layer components {
  .subtitle1 {
    @apply font-semibold text-base;
  }
  .subtitle2 {
    @apply font-semibold text-sm;
  }
}

/* * {
  transition: all 0.5s ease;
  padding: 0;
  margin: 0;
  outline: none;
} */

/* Scroll bar custom styles */

::-webkit-scrollbar {
  width: 0.5625rem;
  height: 0.25rem;
}

@media (max-width: 30rem) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0.25rem;
  }
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #e48b8b;
  border-radius: 0.625rem;
}

/* ::-webkit-scrollbar-thumb:hover {
  color: #484848;
} */

*:hover::-webkit-scrollbar {
  /* width: 6.25rem; */
  height: 0.5rem;
}

/* hide scroll bar */

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 30rem) {
  .hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.hide-scrollbar::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}

/* .hide-scrollbar:hover::-webkit-scrollbar {
  height: 0;
} */

/* Handle collapsing of section... This is to reduce the amount useState being used */

.collapsed-section {
  height: 2.5rem;
}

.collapsed-section > * {
  height: 0;
  opacity: 0;
}

/* End collapsing of section */

/* Handle show plus button in form control */

.parent-button:hover .show-button {
  display: inline-block;
}

/* Style Datalist */

.datalist-input {
  color: #363636 !important;
}

.datalist-input .datalist-active-item {
  background: #ebe9e9 !important;
  color: #363636 !important;
}

.datalist-input .default-datalist-items {
  max-height: 11.875rem;
  overflow-y: scroll;
}

.stub {
  max-height: 300px !important;
  min-height: 250px !important;
}

/* End Style datalist */

/* apex chart */

/* .apexcharts-pie-area apexcharts-donut-slice-0 {
  background-color: red !important;
  stroke-width: 24px !important;
}

.apexcharts-series apexcharts-pie-series {
  stroke-width: 24px !important;
} */
