@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  /* color: #db353905 */
}

.modal-holder {
  position: fixed;
  left: 0;
  top: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.782);
  backdrop-filter: blur(3px);
  min-height: 100vh;
  width: 100%;
  z-index: 99999999;
}
.cus-m-close {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}
@layer base {
  h1 {
    @apply font-bold text-5xl;
  }

  h2 {
    @apply font-bold text-3xl;
  }

  h3 {
    @apply font-semibold text-2xl;
  }

  h4 {
    @apply font-semibold text-xl;
  }

  h5 {
    @apply font-semibold text-lg;
  }

  h6 {
    @apply font-semibold text-lg;
  }

  img {
    @apply max-w-fit;
  }
}

@layer components {
  .subtitle1 {
    @apply font-semibold text-base;
  }

  .subtitle2 {
    @apply font-semibold text-sm;
  }
}

* {
  transition: all 0.5s ease;
  padding: 0;
  margin: 0;
  outline: none;
}

/* Scroll bar custom styles */
::-webkit-scrollbar {
  width: 9px;
  height: 4px;
}

@media (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 4px;
  }
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #e48b8b;
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
  color: #484848;
} */

*:hover::-webkit-scrollbar {
  /* width: 100px; */
  height: 8px;
}

/* hide scroll bar */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 480px) {
  .hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.hide-scrollbar::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}

.hide-scrollbar:hover::-webkit-scrollbar {
  height: 0;
}

/* Handle collapsing of section... This is to reduce the amount useState being used */
.collapsed-section {
  height: 40px;
}

.collapsed-section > * {
  height: 0;
  opacity: 0;
}
/* End collapsing of section */

/* Handle show plus button in form control */
.parent-button:hover .show-button {
  display: inline-block;
}

/* Style Datalist */
.datalist-input {
  color: #363636 !important;
}
.datalist-input .datalist-active-item {
  background: #ebe9e9 !important;
  color: #363636 !important;
}
/* End Style datalist */
